In [1]:
#Apriori Algorithm:

#Implementing Apriori Algorithm in python

#Create Database of transactions:----------------------> use this first

dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple','Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [2]:
#The apriori algorithm expects data in a One_Hot_Encoded pandas dataframe

#mlxtend(Machine_Learning_Extensions)  is a python library of useful tools of day-day data science tasks

import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
te_ary

array([[False, False, False,  True, False,  True,  True,  True,  True,
        False,  True],
       [False, False,  True,  True, False,  True,  True,  True,  True,
        False,  True],
       [ True, False, False,  True, False,  True,  True, False, False,
        False, False],
       [False,  True, False, False, False,  True,  True, False, False,
         True,  True],
       [False,  True, False,  True,  True,  True, False, False,  True,
        False, False]])

In [3]:
#As it is difficult to understand the above One_Hot_Encoding notation we will convert this into dataframe

df = pd.DataFrame(te_ary)
df

       0      1      2      3      4     5      6      7      8      9     10
0  False  False  False   True  False  True   True   True   True  False   True
1  False  False   True   True  False  True   True   True   True  False   True
2   True  False  False   True  False  True   True  False  False  False  False
3  False   True  False  False  False  True   True  False  False   True   True
4  False   True  False   True   True  True  False  False   True  False  False

In [4]:
#By default, we get the column indicies of the items.For better readability,we can set use_colnames = True
#to convert these integer values into the respective item names.

df = pd.DataFrame(te_ary, columns = te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,True,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [5]:
from mlxtend.frequent_patterns import apriori
frequent_itemsets = apriori(df, min_support = 0.6, use_colnames = True)
frequent_itemsets

    support                      itemsets
0       0.8                        (Eggs)
1       1.0                (Kidney Beans)
2       0.8                        (Milk)
3       0.6                       (Onion)
4       0.6                      (Yogurt)
5       0.8          (Eggs, Kidney Beans)
6       0.6                  (Eggs, Milk)
7       0.6                 (Onion, Eggs)
8       0.8          (Kidney Beans, Milk)
9       0.6         (Onion, Kidney Beans)
10      0.6        (Yogurt, Kidney Beans)
11      0.6                (Yogurt, Milk)
12      0.6    (Eggs, Kidney Beans, Milk)
13      0.6   (Onion, Eggs, Kidney Beans)
14      0.6  (Yogurt, Kidney Beans, Milk)

In [6]:
from mlxtend.frequent_patterns import association_rules

rules = association_rules(frequent_itemsets, metric = "confidence", min_threshold = 0.8)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
1,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.8,1.00,0.00,1.0
2,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
3,(Kidney Beans),(Milk),1.0,0.8,0.8,0.8,1.00,0.00,1.0
4,(Milk),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
5,(Onion),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
6,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
7,(Yogurt),(Milk),0.6,0.8,0.6,1.0,1.25,0.12,inf
8,"(Eggs, Milk)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
9,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
10,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
11,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.0,1.25,0.12,inf
12,"(Yogurt, Kidney Beans)",(Milk),0.6,0.8,0.6,1.0,1.25,0.12,inf
13,"(Yogurt, Milk)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
14,(Yogurt),"(Kidney Beans, Milk)",0.6,0.8,0.6,1.0,1.25,0.12,inf

In [7]:
rules["antecedent_len"] = rules["antecedents"].apply(lambda x: len(x))
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf,1
1,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.8,1.00,0.00,1.0,1
2,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf,1
3,(Kidney Beans),(Milk),1.0,0.8,0.8,0.8,1.00,0.00,1.0,1
4,(Milk),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf,1
5,(Onion),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,1
6,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,1
7,(Yogurt),(Milk),0.6,0.8,0.6,1.0,1.25,0.12,inf,1
8,"(Eggs, Milk)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,2
9,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,2
10,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf,2
11,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.0,1.25,0.12,inf,1
12,"(Yogurt, Kidney Beans)",(Milk),0.6,0.8,0.6,1.0,1.25,0.12,inf,2
13,"(Yogurt, Milk)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,2
14,(Yogurt),"(Kidney Beans, Milk)",0.6,0.8,0.6,1.0,1.25,0.12,inf,1

In [8]:
#Viewing Top 10 rules

#The total rules depends upon the volume of transactions we are using for recommendation_rule_system

rules.head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf,1
1,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.8,1.00,0.00,1.0,1
2,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf,1
3,(Kidney Beans),(Milk),1.0,0.8,0.8,0.8,1.00,0.00,1.0,1
4,(Milk),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf,1
5,(Onion),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,1
6,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,1
7,(Yogurt),(Milk),0.6,0.8,0.6,1.0,1.25,0.12,inf,1
8,"(Eggs, Milk)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,2
9,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,2

In [9]:
#FPGrowth Algorithm:

#Implementing FP- Growth in python

#Like Apriori, FP-Growth(Frequent Pattern Growth) algorithm helps us to do Market Basket Analysis on 
#transaction data. FP-Growth is preferred to Apriori for the reason that Apriori takes more execution 
#time for repeated scanning of the transaction dataset to mine the frequent items . FP-Growth builds 
#a compact- tree structure and uses the tree for frequent itemset mining and generating rules. Given 
#below is the python- implementation of FP-Growth.

import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules

In [10]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple','Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [11]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
te_ary

array([[False, False, False,  True, False,  True,  True,  True,  True,
        False,  True],
       [False, False,  True,  True, False,  True,  True,  True,  True,
        False,  True],
       [ True, False, False,  True, False,  True,  True, False, False,
        False, False],
       [False,  True, False, False, False,  True,  True, False, False,
         True,  True],
       [False,  True, False,  True,  True,  True, False, False,  True,
        False, False]])

In [12]:
fpgrowth(df, min_support = 0.6)

    support    itemsets
0       1.0         (5)
1       0.8         (6)
2       0.8         (3)
3       0.6        (10)
4       0.6         (8)
5       0.8      (5, 6)
6       0.8      (3, 5)
7       0.6      (3, 6)
8       0.6   (3, 5, 6)
9       0.6     (10, 6)
10      0.6     (10, 5)
11      0.6  (10, 5, 6)
12      0.6      (8, 3)
13      0.6      (8, 5)
14      0.6   (8, 3, 5)

In [13]:
frequent_itemsets = fpgrowth(df, min_support = 0.6, use_colnames = True)
frequent_itemsets

    support                      itemsets
0       1.0                (Kidney Beans)
1       0.8                        (Milk)
2       0.8                        (Eggs)
3       0.6                      (Yogurt)
4       0.6                       (Onion)
5       0.8          (Kidney Beans, Milk)
6       0.8          (Eggs, Kidney Beans)
7       0.6                  (Eggs, Milk)
8       0.6    (Eggs, Kidney Beans, Milk)
9       0.6                (Yogurt, Milk)
10      0.6        (Yogurt, Kidney Beans)
11      0.6  (Yogurt, Kidney Beans, Milk)
12      0.6                 (Onion, Eggs)
13      0.6         (Onion, Kidney Beans)
14      0.6   (Onion, Eggs, Kidney Beans)

In [14]:
rules = association_rules(frequent_itemsets, metric = "confidence", min_threshold = 0.8)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Kidney Beans),(Milk),1.0,0.8,0.8,0.8,1.00,0.00,1.0
1,(Milk),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
2,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
3,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.8,1.00,0.00,1.0
4,"(Eggs, Milk)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
5,(Yogurt),(Milk),0.6,0.8,0.6,1.0,1.25,0.12,inf
6,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
7,"(Yogurt, Kidney Beans)",(Milk),0.6,0.8,0.6,1.0,1.25,0.12,inf
8,"(Yogurt, Milk)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
9,(Yogurt),"(Kidney Beans, Milk)",0.6,0.8,0.6,1.0,1.25,0.12,inf
10,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
11,(Onion),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
12,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
13,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
14,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.0,1.25,0.12,inf

In [15]:
rules["antecedent_len"] = rules["antecedents"].apply(lambda x: len(x))
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(Kidney Beans),(Milk),1.0,0.8,0.8,0.8,1.00,0.00,1.0,1
1,(Milk),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf,1
2,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf,1
3,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.8,1.00,0.00,1.0,1
4,"(Eggs, Milk)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,2
5,(Yogurt),(Milk),0.6,0.8,0.6,1.0,1.25,0.12,inf,1
6,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,1
7,"(Yogurt, Kidney Beans)",(Milk),0.6,0.8,0.6,1.0,1.25,0.12,inf,2
8,"(Yogurt, Milk)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,2
9,(Yogurt),"(Kidney Beans, Milk)",0.6,0.8,0.6,1.0,1.25,0.12,inf,1
10,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf,1
11,(Onion),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,1
12,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,2
13,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf,2
14,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.0,1.25,0.12,inf,1

In [16]:
#Viewing Top 10 rules

#The total rules depends upon the volume of transactions we are using for recommendation_rule_system

rules.head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(Kidney Beans),(Milk),1.0,0.8,0.8,0.8,1.00,0.00,1.0,1
1,(Milk),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf,1
2,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf,1
3,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.8,1.00,0.00,1.0,1
4,"(Eggs, Milk)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,2
5,(Yogurt),(Milk),0.6,0.8,0.6,1.0,1.25,0.12,inf,1
6,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,1
7,"(Yogurt, Kidney Beans)",(Milk),0.6,0.8,0.6,1.0,1.25,0.12,inf,2
8,"(Yogurt, Milk)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,2
9,(Yogurt),"(Kidney Beans, Milk)",0.6,0.8,0.6,1.0,1.25,0.12,inf,1

In [17]:
#Checking the computational performance of Apriori and FPGrowth Algorithms

from mlxtend.frequent_patterns import apriori
%timeit apriori(df, min_support = 0.6)

6.71 ms ± 806 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [18]:
from mlxtend.frequent_patterns import fpgrowth
%timeit fpgrowth(df, min_support = 0.6)

2.37 ms ± 239 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)